# File: requirements.txt

# Wake Word Detection
pvporcupine

# Audio Processing
pyaudio
SpeechRecognition
numpy

# Image Processing
opencv-python
Pillow

# Natural Language Processing
google-generativeai

# Text-to-Speech
google-cloud-texttospeech

# Database
firebase-admin

# Bangla OCR
torch
torchvision
googletrans
pytesseract

# Additional dependencies
requests
